.app {
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
}


.main-content {
  background-color: #f5deb3;
  flex-grow: 1;
  height: calc(100vh + 100);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height for the body */
}